{% extends 'base.html.twig' %}
{% block body %}

<div class="alert alert-warning" role="alert">
    <strong>Felicitation!</strong> Vous avez inscrit votre enfant
    Clickez <a href="{{ path("enfant_inscription") }}"> ICI</a>
    pour retourner a la page precedente
</div>
{% endblock %}